# Lines configured by zsh-newuser-install
HISTFILE=~/.zhistory
HISTSIZE=1000
SAVEHIST=1000
bindkey -v

# Plugins

source ~/.config/zsh/plugins/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh

source ~/.config/zsh/plugins/zsh-history-substring-search/zsh-history-substring-search.zsh
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

source ~/.config/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
autoload -U compinit; compinit

source ~/.config/zsh/plugins/fzf-tab/fzf-tab.plugin.zsh

fpath=(~/.config/zsh/plugins/zsh-completions/src $fpath)
rm -f ~/.zcompdump; compinit

bindkey "^[[H" beginning-of-line
bindkey "^[[F" end-of-line

{{ template "shrc.sh" . }}

# Set up fzf key bindings and fuzzy completion
if hash fzf 2>/dev/null; then
eval "$(fzf --zsh)"
fi

# uv (python package manager) completion.
if hash uv 2>/dev/null; then
eval "$(uv    generate-shell-completion zsh)"
eval "$(uvx --generate-shell-completion zsh)"
fi

# Set starship
eval "$(starship init zsh)"
