[pikpak]
type = pikpak
pass = {{ (bitwardenFields "item" "mypikpak.com").pass.value }}
token = {{ (bitwardenFields "item" "mypikpak.com").token.value }}
user = kicre@gmx.com

[cos]
type = s3
provider = TencentCOS
access_key_id = {{ (bitwardenFields "item" "cloud.tencent.com").access_key_id.value }}
secret_access_key = {{ (bitwardenFields "item" "cloud.tencent.com").secret_access_key.value }}
endpoint = cos.ap-beijing.myqcloud.com
env_auth = true

[alist]
type = webdav
url = https://alist.kicre.top/dav
vendor = other
user = webdav
pass = {{ (bitwardenFields "item" "alist.kicre.top").pass.value }}
