[pikpak]
type = pikpak
pass = {{ (bitwardenFields "pikpak").pass.value }}
token = {{ (bitwardenFields "pikpak").token.value }}
user = kicre@gmx.com

[cos]
type = s3
provider = TencentCOS
access_key_id = {{ (bitwardenFields "cos").access_key_id }}
secret_access_key = {{ (bitwardenFields "cos").secret_access_key }}
endpoint = cos.ap-beijing.myqcloud.com
env_auth = true

[alist]
type = webdav
url = https://alist.kicre.top/dav
vendor = other
user = webdav
pass = {{ (bitwardenFields "alist").pass_key }}
