@import "flexoki-full.css";

* {
  font-family: Sarasa Fixed SC Nerd Font;
  font-size: 16px;
}

#waybar {
  color: @paper;
  background-color: @base-900;
}

#workspaces button {
  margin: 0 0;
  padding: 0 0.3em;
}

#workspaces button.empty {
  color: @base-500;
}

#workspaces button.active {
  background-color: @base-850;
  border-radius: 3px;
}

#cpu,
#memory,
#temperature,
#wireplumber,
#backlight,
#battery,
#network,
#bluetooth,
#tray {
  background-color: @base-800;
  margin: 0 0.1em;
  padding: 0 0.5em;
  border-radius: 5px;
}