@import "flexoki-full.css";

@define-color foreground @paper;
@define-color foreground-inactive @base-500;
@define-color background @base-900;
@define-color background-alt @base-850;

* {
  font-family: Sarasa Fixed SC Nerd Font;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background-color: @background;
}

#workspaces button {
  padding-left: 1em;
  padding-right: 1.3em;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#workspaces button.active {
  background-color: @background-alt;
  border-radius: 3px;
}

#wireplumber,
#bat,
#tray,
#usage,
#net {
  background-color: @background-alt;
  border-radius: 3px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.3em;
}

#battery,
#memory,
#language,
#network {
  margin-right: 0.8em;
}