@import "flexoki-full.css";

* {
  font-family: Sarasa Fixed SC Nerd Font;
  font-size: 16px;
}

#waybar {
  color: @paper;
  background-color: @base-900;
}

#workspaces button {
  margin: 0 0;
  padding: 0 0.3em;
}

#workspaces button.empty {
  color: @base-500;
}

#workspaces button.active {
  background-color: @base-850;
  border-radius: 3px;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.wezterm {
  background-color: @purple-600;
  color: @paper;
}

window#waybar.firefox {
  background-color: @red-600;
  color: @black;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
  background-color: transparent;
}

#cpu,
#memory,
#temperature,
#wireplumber,
#backlight,
#battery,
#network,
#bluetooth,
#tray {
  background-color: @base-800;
  margin: 0 0.1em;
  padding: 0 0.5em;
  border-radius: 5px;
}