* {
  border: none;
  border-radius: 0;
  font-family: sans;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  color: @theme_text_color;
  background-color: alpha(@theme_base_color , 0.6);
}

#workspaces button {
  margin: 0 0;
  padding: 0 0;
}

#workspaces button.empty {
  color: alpha(@insensitive_fg_color, 0.4);
}

#workspaces button.active {
  background-color: alpha(@insensitive_fg_color, 0.9);
  border-radius: 3px;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu,
#memory,
#temperature,
#weather,
#wireplumber,
#custom-mic,
#backlight,
#battery,
#network,
#bluetooth,
#tray {
  background-color: alpha(@borders, 0.9);
  margin: 0 0.1em;
  padding: 0 0.5em;
  border-radius: 5px;
}
