 /* Window */
 window {
   margin: 5px;
   padding: 0px;
   animation: slideIn 0.5s ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }
