[credential "helperselector"]
	selected = manager
[user]
	email = kicre@gmx.com
	name = kicre
[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{ else }}
	autocrlf = input
{{- end }}
[pull]
	rebase = true
