include "binds.kdl"
include "rules.kdl"
include "input.kdl"
include "outputs.kdl"
include "colors.kdl"
include "layout.kdl"
include "animation.kdl"

// spawn-at-startup "wpka"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "fcitx5" "--replace" "-d"
spawn-at-startup "awww-daemon"
spawn-at-startup "mako"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "--watch" "xclip" "-selection" "clipboard"
spawn-at-startup "udiskie"
spawn-at-startup "~/.config/scripts/swayidle.sh"
spawn-at-startup "~/.config/scripts/awww_randomize.sh"

// Environments
environment {
    TZ "Asia/Shanghai"
    LANG "zh_CN.UTF-8"
    LANGUAGE "zh_CN:en_US"
    EDITOR "helix"
    GSK_RENDERER "gl"
    XMODIFIERS "@im=fcitx"
    // GTK_IM_MODULE "fcitx"
    // QT_IM_MODULE "fcitx"
    // QT_IM_MODULES "wayland;fcitx"
    // SDL_IM_MODULE "fcitx"
    // GLFW_IM_MODULE "fcitx"
    // theme
    GTK_THEME "Orchis-Light-Compact"
    // qt主题
    // QT_QPA_PLATFORMTHEME "gtk3"
    // QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_STYLE_OVERRIDE "kvantum"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt6ct" // change to qt6ct if you have that

    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

// Cursor
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 20
    hide-when-typing
    hide-after-inactive-ms 15000
}


// 取消启动niri时自动开启快捷键教程
hotkey-overlay {
     skip-at-startup
}

prefer-no-csd

clipboard {
    disable-primary
}

overview {
    workspace-shadow {
        off
    }
}
