{{ if eq .chezmoi.os "windows" }}
import = [
	"~/.config/alacritty/themes/alacritty-theme-master/themes/flexoki.toml"
]
{{ else }}
import = [
	"~/AppData/Roaming/alacritty/themes/alacritty-theme-master/themes/flexoki.toml"
]
{{ end }}

[shell]
{{- if eq .chezmoi.os "windows" }}
program = "pwsh"
{{- else }}
program = "zsh"
{{end}}
args = ["-l"]

[font]
size = 12
normal = {family = "等距更纱黑体 SC Nerd Font", style = "Regular"}

[scrolling]
history = 10000
multiplier = 3

[window]
{{- if eq .chezmoi.os "linux" }}
decorations = "None"
{{- end }}
opacity = 0.9
title = "Alacritty"
{{- if eq .chezmoi.os "windows" }}
dynamic_title = false
{{- end }}
dynamic_padding = true
