[general]
import = [
	"~/.local/share/chezmoi/.chezmoitemplates/alacritty/theme/penumbra-light.toml"
	
]

[terminal.shell]
{{- if eq .chezmoi.os "windows" }}
program = "pwsh"
{{- else }}
program = "zsh"
{{end}}
args = ["-l"]

[font]
size = 12
{{- if eq .chezmoi.os "windows" }}
normal = {family = "Sarasa Fixed SC Nerd Font", style = "Regular"}
{{- end}}

[scrolling]
history = 10000
multiplier = 3

[window]
{{- if eq .chezmoi.os "linux" }}
decorations = "None"
{{- end }}
opacity = 0.9
title = "Alacritty"
{{- if eq .chezmoi.os "windows" }}
dynamic_title = false
{{- end }}
dynamic_padding = true
