[notebook]

[note]
language = "zh"
default-title = "Untitled"
filename = "{{"{{id}}-{{slug title}}"}}"
exetension = "md"
#template = "default.md"
id-charset = "alphanum"
id-length = 4
id-case = "lower"

[extra]
author = "kicre"

[group.journal]
#paths = ["journal/weekly", "journal/daily"]

[group.journal.note]
filename = "{{"{{format-data now}}"}}"

[format.markdown]
hashtags = true
colon-tags = true

[tool]
editor = "helix"
{{ if eq .chezmoi.os "windows" }}
shell = "bin/zsh"
{{ else }}
shell = "pwsh"
{{ end }}
#pager = "less -FIRX"
#fzf-preview = "bat -p --color always {"-1"}"

[filter]
recents = "--sort created- --created-after 'last two weeks'"

[alias]
edlast = "zk edit --limit 1 --sort modified- $@"
#recent = "zk edit --sort created- --created-after 'last two weeks' --interactive"
lucky = "zk list --quiet --format full --sort random --limit 1"

[lsp]

[lsp.diagnostics]
wiki-title = "hint"
dead-link = "error"

# COMMAND ALIASES
[alias]
journal = 'zk new --no-input "journal"'
draft = 'zk new --no-input "draft" --title "$argv"'
inbox = 'zk new --interactive "inbox" --title "$argv"'
snippet = 'zk new --interactive "snippet" --title "$argv"'
todo = 'zk edit TODO.md'
